html {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Raleway", sans-serif;
  /* font-family: "Esteban", serif;
  font-family: proxima-nova, sans-serif; */
}

#container {
  width: 90%;
  max-width: 2000px;
  margin: 0px auto; /*auto sizing centers */
  margin-bottom: 15px;
}
#nav-bar {
  margin-bottom: 100px;
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

#name {
  /* font-family: "helvetica", serif; */
  /* font-family: "Tangerine", cursive; */
  /* font-family: "Playfair Display SC", serif; */
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Raleway", sans-serif;
  font-size: 39px;
  margin-left: 0px;
}
a {
  text-decoration: none;
  color: black;
  margin-bottom: 0px;
}

.page {
  display: inline-block;
  margin: 40px;
  margin-bottom: 0px;
  margin-right: 0;
}
.link {
  float: right;
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: 66px;
  font-size: 19px;
  /* font-size: 17px; */
}
#about {
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
}

h1 {
  font-size: 43px;
  margin-top: 0;
}
#about-me {
  display: flex;
  margin-left: 17%;
  margin-right: 10%;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-row-gap: 3.5rem;
  grid-column-gap: 2.5rem;
}
.image {
  width: 350px;
  margin-top: 10px;
}
img {
  width: 100%;
  height: 290px;
  object-fit: cover;

  /* border: 2px solid black; */
}

.description-text {
  width: 360px;
  line-height: 1.5;
}
ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 5px;
}
li {
  padding-top: 10px;
  display: flex;
}
i {
  padding-right: 5px;
}
