<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/pen6jhc.css" />
    <script src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
    <link rel="stylesheet" href="../styles/process.css" />

    <title>Portfolio</title>
  </head>
  <body>
    <main id="container">
      <main id="container">
        <section id="nav-bar">
          <!-- <section class="about-me">
          <h4>
            I am a creative technologist based in New York. MSc. Environmental
            Policy '19 and Data Visualization '20 at Parsons School of Design. I
            aim to use both degrees to create data-driven visualizations that
            improve accessibility and help inform decision making. If you like my
            work and want to collaborate, feel free to
            <a href="mailto: nour.zein42@gmail.com"> contact me</a>!
          </h4>
        </section> -->
          <div class="links">
            <a href="../index.html" class="page link" id="work">WORK</a>
            <a href="../about.html" class="page link" id="about">ABOUT</a>
            <a href="../CV.pdf" class="page link">RESUME</a>
          </div>
          <a href="../index.html" class="page" id="name">NOUR ZEIN</a>
        </section>
      <div id="small-container">
        <section class="intro">
          <div class="title-box">
            <h1 class="title">Alcoholics Anonymous Meeting Finder</h1>
            <p class="tools">
              <strong>Tools:</strong>
              HTML/CSS/Javascript/JQuery/Mapbox/Leaflet/Node/PostgreSQL
            </p>
            <p class="description">
              <span class="process-items">Description:</span> AA Meeting Finder
              is an interactive map application built from data scrapped from
              the web. It allows you to locate AA meetings in Mahattan based on
              schedule.
              <!-- <a
                href="https://github.com/nourzein/Data_Structures/tree/master/final_assignments"
                ><span class="highlight"><u>repository</u></span></a
              >
              or watch the <a href="https://vimeo.com/379468386"><u>video</u></a
              >. -->
              <br /><br /><span class="process-items">Goal:</span> An
              application that helps users navigate the AA meetings around
              Manhattan effectively. This was part of the Data Structures course
              at Parsons. <br />
              <br /><span class="process-items">Data:</span> Alcoholic Anonymous
              of NYC static webpages. <br /><br /><span class="process-items"
                >Data Collection:</span
              >
              Starting with the static webpages, I used the developer tools
              inspector to figure out a page's elements breakdown. Then I used
              <i>node</i>, <i>cheerio</i>, and <i>async</i> to parse out the
              data from the html pages and save them into JSON files (example:
              addresses of all meetings in one file). I used TAMU geolocation
              API to find the latitude and logitute of the meeting addresses. I
              used relational database PostGres to organize the data into
              relational tables that I would then use <i>express</i> to call to
              the front-end. <br /><br />
              <span class="process-items">Audience:</span> Parsons Data
              Structures Course. <br /><br />
              <span id="more-info"
                ><strong
                  >For detailed documentation, please click
                  <a
                    href="https://github.com/nourzein/Data_Structures/tree/master/final_assignments"
                    ><span class="highlight">here</span></a
                  ></strong
                ></span
              >
            </p>
            <!-- <div class="project-links">
              <a href="https://vimeo.com/379468386" class="project-link">
                Project Video</a
              >
              <br />
              <a href="../CV.pdf" class="project-link"> Github Repository</a>
            </div> -->
          </div>
          <div class="project-image">
            <a href="https://vimeo.com/379468386">
              <img src="../images/AA_meeting/aa.gif" width="100%" />
              <!-- <iframe
              src="https://player.vimeo.com/video/379468386"
              frameborder="0"
              width="100% auto"
              allow="autoplay; fullscreen"
              allowfullscreen
            ></iframe> -->
            </a>
          </div>
        </section>

        <div class="process-box">
          <!-- <h1 class="title" id="process-title">Process</h1> -->

          <!-- <span class="process-items">Tools:</span>
          <ul>
            <li>Request- to request data from AA webpages</li>
            <li>Tamu- to get geolocation</li>
            <li>Fs- to read and write files</li>
            <li>Cheerio- to scrape and clean webpages</li>
            <li>Async- to run functions in order</li>
            <li>Pg- to build and query my database (SQL)</li>
            <li>
              Express- to make dynamic requests between the application and
              database
            </li>
            <li>
              JQuery- to allow front-end and back-end javascript communication
            </li>
            <li>
              Mapbox- to design and embed custom baselayer
            </li>
            <li>Leaflet- to map meetings onto baselayer</li>
          </ul>
          Checkout the
          <a
            href="https://github.com/nourzein/Data_Structures 
           "
            >Github Repository</a
          >
          for further details. -->
        </div>
        <!-- <div class="DD-box">
            <p class="title">Design and Development</p>
      </div> -->
      </div>
    </main>
  </body>
</html>
