<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/pen6jhc.css" />
    <script src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
    <link rel="stylesheet" href="../styles/process.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <main id="container">
      <section id="nav-bar">
        <!-- <section class="about-me">
        <h4>
          I am a creative technologist based in New York. MSc. Environmental
          Policy '19 and Data Visualization '20 at Parsons School of Design. I
          aim to use both degrees to create data-driven visualizations that
          improve accessibility and help inform decision making. If you like my
          work and want to collaborate, feel free to
          <a href="mailto: nour.zein42@gmail.com"> contact me</a>!
        </h4>
      </section> -->
        <div class="links">
          <a href="../index.html" class="page link" id="work">WORK</a>
          <a href="../about.html" class="page link" id="about">ABOUT</a>
          <a href="../CV.pdf" class="page link">RESUME</a>
        </div>
        <a href="../index.html" class="page" id="name">NOUR ZEIN</a>
      </section>
      <div id="small-container">
        <section class="intro">
          <div class="title-box">
            <h1 class="title">Earthquake Radar</h1>
            <p class="tools">
              <strong>Tools:</strong> HTML/CSS/Javascript/Leaflet/Mapbox/P5
            </p>
            <div class="description">
              <p class="item">
                <span class="process-items">Description:</span> Interactive
                visualization of the most significant earthquakes in the month
                of October, relative to their nearest cities. Dense urban
                populations (populations greater than 10 million people) are
                also mapped as an additional layer for reference.
              </p>

              <p class="item">
                <span class="process-items">Goal:</span> If an earthquake
                happens but there is no one around to feel it, did it really
                happen? In this project, I visualize the potential impact of the
                significant earthquakes by exploring the cities that are
                affected by more than one significant earthquake.
              </p>
              <p class="item">
                <span class="process-items">Data:</span> USGS Latest Earthquakes
              </p>

              <p class="item">
                <span class="process-items">Data Collection:</span>
                I used the USGS color scheme for this project, utilizing red,
                green, and black to make my radar narrative effective. The base
                layer with population density was designed in Mapbox. I imported
                this base layer and using leaflet, I added the USGS earthquake
                data from October. While the map shows the earthquake
                distribution, using canvas and P5, I created the “radar” that
                communicated with the map and provided contextual information
                about all the earthquakes relative to the city closest to the
                earthquake hovered on.
              </p>
              <p class="item">
                <span class="process-items">Audience:</span> Data Visualization
                and Information Aesthetics classmates.
              </p>
              <p class="item">
                <span id="more-info"
                  ><strong
                    >For the live project, please click
                    <a
                      href="https://nourzein.github.io/dvia-2019/3.mapping-space/Concept1/"
                    >
                      <span class="highlight">here</span>.</a
                    >
                    For detailed documentation, please click
                    <a
                      href="https://github.com/nourzein/dvia-2019/tree/master/3.mapping-space/process
                    "
                      ><span class="highlight">here</span>.</a
                    ></strong
                  ></span
                >
              </p>
            </div>
            <!-- <div class="project-links">
              <a href="https://vimeo.com/379468386" class="project-link">
                Project Video</a
              >
              <br />
              <a href="../CV.pdf" class="project-link"> Github Repository</a>
            </div> -->
          </div>
          <div class="project-image">
            <img src="../images/earthquake/earthquake_radar.gif" width="100%" />
            <!-- <iframe
              src="https://player.vimeo.com/video/379468386"
              frameborder="0"
              width="100% auto"
              allow="autoplay; fullscreen"
              allowfullscreen
            ></iframe> -->
          </div>
        </section>

        <div class="process-box">
          <!-- <h1 class="title" id="process-title">Process</h1> -->

          <!-- <span class="process-items">Tools:</span>
          <ul>
            <li>Request- to request data from AA webpages</li>
            <li>Tamu- to get geolocation</li>
            <li>Fs- to read and write files</li>
            <li>Cheerio- to scrape and clean webpages</li>
            <li>Async- to run functions in order</li>
            <li>Pg- to build and query my database (SQL)</li>
            <li>
              Express- to make dynamic requests between the application and
              database
            </li>
            <li>
              JQuery- to allow front-end and back-end javascript communication
            </li>
            <li>
              Mapbox- to design and embed custom baselayer
            </li>
            <li>Leaflet- to map meetings onto baselayer</li>
          </ul>
          Checkout the
          <a
            href="https://github.com/nourzein/Data_Structures 
           "
            >Github Repository</a
          >
          for further details. -->
        </div>
        <!-- <div class="DD-box">
            <p class="title">Design and Development</p>
      </div> -->
      </div>
    </main>
  </body>
</html>
