<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR: 400, 500|Tangerine:700|Noto+Serif&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Esteban&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/pen6jhc.css" />
    <script src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
    <link rel="stylesheet" href="../styles/process.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />

    <title>Portfolio</title>
  </head>
  <body>
    <main id="container">
      <section id="nav-bar">
        <div class="name-div"></div>
        <!-- <section class="about-me">
        <h4>
          I am a creative technologist based in New York. MSc. Environmental
          Policy '19 and Data Visualization '20 at Parsons School of Design. I
          aim to use both degrees to create data-driven visualizations that
          improve accessibility and help inform decision making. If you like my
          work and want to collaborate, feel free to
          <a href="mailto: nour.zein42@gmail.com"> contact me</a>!
        </h4>
      </section> -->
        <div class="pages">
          <!-- <p id="about-me">
            I am a creative technologist based in New York. MSc. Environmental
            Policy '19 and Data Visualization '20 at Parsons School of Design. I
            aim to use both degrees to create data-driven visualizations that
            improve accessibility and help inform decision making. If you like
            my work and want to collaborate, feel free to
            <a href="mailto: nour.zein42@gmail.com"> contact me</a>!
          </p> -->
          <a href="../index.html" class="page link" id="work">Work</a>
          <a href="../about.html" class="page link">About</a>
          <a href="../CV.pdf" class="page link">Resume</a>
          <a href="../index.html" class="page" id="name">NOUR ZEIN</a>
        </div>
      </section>
      <div id="small-container">
        <section class="intro">
          <div class="title-box">
            <h1 class="title">Greening From the Rooftops</h1>
            <p class="tools">
              <strong>Tools:</strong>
              HTML/CSS/Javascript/D3/MongoDB/Node/Mapbox/PostgreSQL/Illustrator
            </p>
            <div class="description">
              <p class="item">
                <span class="process-items">Description:</span> A user interface
                for mapping the green roof potential of NYC.
              </p>

              <p class="item">
                <span class="process-items">Goal:</span> Green roofs are a
                proven solution to the urban consequences of climate change.
                Where are the current green roofs located, and how does the
                potential for green roofs look like in NYC? What ecological
                impacts would green roofs have?
              </p>
              <span class="process-items">Data:</span>
              <ul class="item">
                <li>The Nature Conservancy and Azavea Suitability Analysis</li>
                <li>The Nature Conservancy Current Green Roofs</li>
                <li>Open Data NYC Building Footprint</li>
                <li>NYC Planning Pluto Tax Lot</li>
              </ul>

              <p class="item">
                <span class="process-items">Data Collection:</span>
                The data from The Nature Conservancy was in the form of
                shapefiles. First, I needed to convert them into MBTiles in
                order to upload the geometries into the map using Mapbox. Mapboc
                was used instead of leaflet in order to enhance performance
                spead. MongoDB was used to store nonrelational data regarding
                the roof height, area, borough, building class, and land use
                category. The data in Mapbox and the data in MongoDB were both
                connected using a unique identifier. The benefits calculations
                were done in the front end javascript. They are based on
                calculations done in pervious studies— please see thesis for
                further detail.
              </p>
              <p class="item">
                <span class="process-items">Audience:</span> Policy makers,
                urban planners, NGOs, and homeowners.
              </p>
              <p class="item">
                <span id="more-info"
                  ><strong
                    >For the live project, please click
                    <a href="https://green-roof-potential.herokuapp.com/">
                      <span class="highlight">here</span>.</a
                    >
                    For detailed documentation, please click
                    <a
                      href="https://github.com/nourzein/thesis/blob/master/NourZeinThesis.pdf
                    "
                      ><span class="highlight">here</span>.</a
                    ></strong
                  ></span
                >
              </p>
            </div>
            <!-- <div class="project-links">
              <a href="https://vimeo.com/379468386" class="project-link">
                Project Video</a
              >
              <br />
              <a href="../CV.pdf" class="project-link"> Github Repository</a>
            </div> -->
          </div>
          <div class="project-image">
            <!-- <a href="#" class="previous round">&#8249;</a>
            <a href="#" class="next round">&#8250;</a> -->
            <img src="../images/green-roof/green-roof.gif" width="100%" />
            <!-- <iframe
              src="https://player.vimeo.com/video/379468386"
              frameborder="0"
              width="100% auto"
              allow="autoplay; fullscreen"
              allowfullscreen
            ></iframe> -->
          </div>
        </section>

        <div class="process-box">
          <!-- <h1 class="title" id="process-title">Process</h1> -->

          <!-- <span class="process-items">Tools:</span>
          <ul>
            <li>Request- to request data from AA webpages</li>
            <li>Tamu- to get geolocation</li>
            <li>Fs- to read and write files</li>
            <li>Cheerio- to scrape and clean webpages</li>
            <li>Async- to run functions in order</li>
            <li>Pg- to build and query my database (SQL)</li>
            <li>
              Express- to make dynamic requests between the application and
              database
            </li>
            <li>
              JQuery- to allow front-end and back-end javascript communication
            </li>
            <li>
              Mapbox- to design and embed custom baselayer
            </li>
            <li>Leaflet- to map meetings onto baselayer</li>
          </ul>
          Checkout the
          <a
            href="https://github.com/nourzein/Data_Structures 
           "
            >Github Repository</a
          >
          for further details. -->
        </div>
        <!-- <div class="DD-box">
            <p class="title">Design and Development</p>
      </div> -->
      </div>
    </main>
  </body>
</html>
