html {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Raleway", sans-serif;
  /* font-family: "Esteban", serif;
  font-family: proxima-nova, sans-serif; */
}

#container {
  width: 90%;
  max-width: 2000px;
  margin: 0px auto; /*auto sizing centers */
  margin-bottom: 15px;
}
#nav-bar {
  margin-bottom: 100px;
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

#name {
  /* font-family: "helvetica", serif; */
  /* font-family: "Tangerine", cursive; */
  /* font-family: "Playfair Display SC", serif; */
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Raleway", sans-serif;
  font-size: 39px;
  margin-left: 0px;
}
a {
  text-decoration: none;
  color: black;
  margin-bottom: 0px;
}
.pages {
  /* text-align: left; */

  /* margin-bottom: 30px; */
  /* position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: left; */
}
.page {
  display: inline-block;
  margin: 40px;
  margin-bottom: 0px;
  margin-right: 0;
}
.link {
  float: right;
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: 66px;
  font-size: 19px;
  /* font-size: 17px; */
}
#work {
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
}

h4 {
  width: 640px;
  line-height: 1.5;
  /* margin-bottom: 50px; */
}

.title-box {
  /* text-align: center; */
  width: 688px;
  /* display: inline-block; */
}
html {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Raleway", sans-serif;
  /* font-family: "Esteban", serif;
  font-family: proxima-nova, sans-serif; */
}

#container {
  width: 90%;
  max-width: 2000px;
  margin: 0px auto; /*auto sizing centers */
  margin-bottom: 15px;
}
#nav-bar {
  margin-bottom: 100px;
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

#name {
  /* font-family: "helvetica", serif; */
  /* font-family: "Tangerine", cursive; */
  /* font-family: "Playfair Display SC", serif; */
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Raleway", sans-serif;
  font-size: 39px;
  margin-left: 0px;
}
a {
  text-decoration: none;
  color: black;
  margin-bottom: 0px;
}
.pages {
  /* text-align: left; */

  /* margin-bottom: 30px; */
  /* position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: left; */
}
.page {
  display: inline-block;
  margin: 40px;
  margin-bottom: 0px;
  margin-right: 0;
}
.link {
  float: right;
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: 66px;
  font-size: 19px;
  /* font-size: 17px; */
}
#work {
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
}

.intro {
  border: 1px solid black;
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-row-gap: 3.5rem;
  grid-column-gap: 2rem; */
}
h1 {
  font-size: 25px;
  margin-top: 0;
}
.title-box {
  width: 500px;
  margin-left: 4%;
  border: 1px solid black;
}
.project-links {
  display: flex;
}
.project-link {
  margin-right: 20px;
}
.project-image {
  border: 1px solid black;
  padding-top: 0;
  margin-left: 9%;
  /* margin-bottom:  */
}
iframe {
  padding-top: 0;
}
.process-box {
  text-align: left;
  margin-left: 4%;
  margin-right: 4%;
}
.process-items {
  font-weight: bold;
}
