html {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Raleway", sans-serif;
  /* font-family: "Esteban", serif;
  font-family: proxima-nova, sans-serif; */
}

#container {
  width: 90%;
  max-width: 2000px;
  margin: 0px auto; /*auto sizing centers */
  margin-bottom: 15px;
}
#nav-bar {
  margin-bottom: 100px;
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

#name {
  /* font-family: "helvetica", serif; */
  /* font-family: "Tangerine", cursive; */
  /* font-family: "Playfair Display SC", serif; */
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 39px;
  margin-left: 0px;
}
a {
  text-decoration: none;
  color: black;
}
.pages {
  /* text-align: left; */

  /* margin-bottom: 30px; */
  /* position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: left; */
}
.page {
  display: inline-block;
  margin: 40px;
  margin-bottom: 0px;
  margin-right: 0;
}
.link {
  float: right;
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: 66px;
  font-size: 19px;
  /* font-size: 17px; */
}
#work {
  font-weight: bold;
}
.link:hover {
  font-weight: bold;
}

#small-container {
  width: 93%;
  margin: 0px auto;
}
.intro {
  /* border: 1px solid black; */

  display: grid;
  grid-template-columns: 550px auto;
  grid-gap: 100px;
  grid-template-rows: 600px;
  text-align: justify;
  line-height: 1.5;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-row-gap: 3.5rem;
  grid-column-gap: 2rem; */
}
h1,
.title {
  font-size: 30px;
  margin-top: 0;
}
.process-box {
  width: 550px;
  text-align: justify;
}
.process-items {
  font-weight: bold;
}
.project-image {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  padding-top: 40px;
}
.highlight {
  font-size: 1rem;
}
.highlight:hover {
  background-color: black;
  color: white;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  /* background-image: linear-gradient(to right, pink 0%, #fff2ac 100%);
  transition: 2s; */
}
/* .project-links {
  margin-top: 40px;
  padding-right: 40px;
  display: flex;
} */
/* .project-link {
  margin-right: 80px;
  font-style: italic;
} */
#process-title {
  /* margin-top: 13px; */
}
